.navbar {
    background-color: #E5E1DA;
    padding: 0%;
    position: sticky;
    width: 100%;
    top: 0;
}

.nav.container{
    width: 80%;
    background-color: #E5E1DA;
    margin: auto;
    max-width: 100%;
}

.container::before, .container::after {
    display: table;
    line-height: 0;
    content: "";
}

.container::after {
    clear: both
}

.dropdown-toggle {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    background-color: #FBF9F1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(144, 128, 103, 0.3);
    padding: 16px 16px;
    z-index: 1;
    /* left: -15px; */
}

a.brand {
    float: left;
    padding: 10px;
    span {
        font-size: 16pt;
        font-weight: bold;
    }
    text-decoration: none;
}

.form-group, .form-group input, .form input {
    text-align: center;
    /* display: inline-block; */
}

.nav.buttons {
    float: right;
    padding: 0;
    margin: 0;
}

li.link {
    display: inline-block;
    padding: 17px 15px;
    height: fit-content;
    line-height: 26px;
}

li.link:hover {
    background-color: #AAD7D9;
    /* color: brown; */
}

div {
    display: block;
    margin: auto;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    line-height: 26px;
    color: #242424;
    background-color: #FBF9F1;
}

form.create, form.start {
    margin: auto;
    text-align: center;
}

ul.dropdown-menu.closed {
    display: none;
    margin: auto;
}

ul.dropdown-menu.open {
    display: block;
    margin: auto;
}

li.link a {
    text-decoration: none;
}

div.error {
    color: red;
}

h1, h2, h3 {
    text-align: center;
}

div.logins {
    display: inline;
    text-align: center;
}

div.main {
    text-align: center;
    margin: auto 200px;
}

div.sliders {
    display: inline-block;
}